---
---

.header {
    height: 32px;
    padding-top: 8px;
    padding-bottom: 1px;
    border-bottom: solid 1px $grey-light;

    .pure-menu-list {
        float: right;
    }
}

.footer {
    height: 32px;
    padding-top: 8px;
    border-top: solid 1px $grey-light;
    position: relative;

    div {
        font-size: 11px;
        display: inline-block;
    }

    div.footer-item {
       margin-left: 11px;
       color: $grey;
    }

    div.footer-links {
        margin: 0 auto;
        display: table;
    }

    div.footer-right {
        float: right;
        position: absolute;
        right: 0;
    }

    img.footer-img {
        height: 24px;
    }
}

.header, .container, .footer{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 24px;
}

.pad-left {
    padding-left: 24px;
}

.pad-right {
    padding-right: 24px;
}

.margin-left {
    margin-left: 24px;
}

.margin-right {
    margin-right: 24px;
}

.spacer {
    height: 11px;
}

.pos-abs {
    position: absolute;
}  