
/* post is used for styling the markdown posts on site*/
.post {
   padding: 0px 12px 0px 12px;

   h1 {
      font-size: 20px;
   }
   h2 {
      font-size: 18px;
   }
   p {
      &.meta {
         color: $grey;
      }
      font-size: 16px;
   }
}