.post, .posts {
   padding: 0px 12px 0px 12px;
}

.posts {
   h1 {
      font-size: 30px;
      font-size: calc(1vh + 1vw + 2vmin);
   }

   li {
      font-size: 30px;
      font-size: calc(1vh + 1vw + 1vmin);
   }
}

.post {
   h1 {
      font-size: 30px;
      font-size: 4vw;
   }
   h2 {
      font-size: 30px;
      font-size: 3.0vh;
   }
   p {
      &.meta {
         color: $grey;
      }
      font-size: 30px;
      font-size: calc(1vh + 1vw + 2vmin);
   }
}