.font-serif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font-non-serif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.font-small {
    font-size: 10px;
}

.font-upper {
    text-transform: uppercase;
}

.text-grey-dark {
    color: $grey-dark;
}

p {
    a {
        text-decoration: none;
        color: $blue-light;
        &:visited {
            color: $blue-light;
        }
    }
}